Sources/RSSKit/Resources/rss2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rss" type="rss" />

	<xs:complexType name="rss">
		<xs:sequence>
			<xs:element name="channel" type="channel" maxOccurs="1"
				minOccurs="1" />

		</xs:sequence>
		<xs:attribute name="version" type="version" />
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>

	<xs:simpleType name="version">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2.0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="channel">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The name of the channel. It's how people refer
						to your service. If you have an HTML website
						that contains the same information as your RSS
						file, the title of your channel should be the
						same as the title of your website.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="xs:string" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The URL to the HTML website corresponding to the
						channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" maxOccurs="1"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Phrase or sentence describing the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The language the channel is written in. This
						allows aggregators to group all Italian language
						sites, for example, on a single page. A list of
						allowable values for this element, as provided
						by Netscape, is here
						[http://www.rssboard.org/rss-language-codes].
						You may also use values defined by the W3C
						[http://www.w3.org/TR/REC-html40/struct/dirlang.html#langcodes].
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="copyright" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Copyright notice for content in the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="managingEditor" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Email address for person responsible for
						editorial content.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="webMaster" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Email address for person responsible for
						technical issues relating to channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pubDate" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The publication date for the content in the
						channel. For example, the New York Times
						publishes on a daily basis, the publication date
						flips once every 24 hours. That's when the
						pubDate of the channel changes. All date-times
						in RSS conform to the Date and Time
						Specification of RFC 822, with the exception
						that the year may be expressed with two
						characters or four characters (four preferred).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastBuildDate" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The last time the content of the channel
						changed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="category" maxOccurs="unbounded"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specify one or more categories that the channel
						belongs to. Follows the same rules as the
						&lt;item&gt;-level category element.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generator" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A string indicating the program used to generate
						the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="docs" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A URL that points to the documentation for the
						format used in the RSS file. It's probably a
						pointer to this page. It's for people who might
						stumble across an RSS file on a Web server 25
						years from now and wonder what it is.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cloud" type="cloud" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Allows processes to register with a cloud to be
						notified of updates to the channel, implementing
						a lightweight publish-subscribe protocol for RSS
						feeds. More info here.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ttl" type="xs:int" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						ttl stands for time to live. It's a number of
						minutes that indicates how long a channel can be
						cached before refreshing from the source.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="image" type="image" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specifies a GIF, JPEG or PNG image that can be
						displayed with the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rating" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The PICS [http://www.w3.org/PICS/] rating for
						the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textInput" type="textInput" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Specifies a text input box that can be displayed
						with the channel.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skipHours" type="skipHours" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A hint for aggregators telling them which hours
						they can skip. This element contains up to 24
						&lt;hour&gt; sub-elements whose value is a
						number between 0 and 23, representing a time in
						GMT, when aggregators, if they support the
						feature, may not read the channel on hours
						listed in the &lt;skipHours&gt; element. The
						hour beginning at midnight is hour zero.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="skipDays" type="skipDays" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A hint for aggregators telling them which days
						they can skip. This element contains up to seven
						&lt;day&gt;
						sub-elements whose value is Monday, Tuesday,
						Wednesday, Thursday, Friday, Saturday or
						Sunday. Aggregators may not read the channel
						during days listed in the
						&lt;skipDays&gt;element.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item" type="item" maxOccurs="unbounded"
				minOccurs="0" />
			<xs:any namespace="##other" processContents="lax" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="cloud">
		<xs:attribute name="domain" type="xs:string" />
		<xs:attribute name="port">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:maxInclusive value="65536" />
					<xs:minInclusive value="0" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="path" type="xs:string" />
		<xs:attribute name="registerProcedure" type="xs:string" />
		<xs:attribute name="protocol" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="image">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="url" type="xs:string" maxOccurs="1" minOccurs="1" />

			<xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1" />

			<xs:element name="link" type="xs:string" maxOccurs="1" minOccurs="1" />

			<xs:element name="width" default="88" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minExclusive value="0" />
						<xs:maxInclusive value="144" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="height" default="31" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minExclusive value="0" />
						<xs:maxInclusive value="400" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" type="xs:string" maxOccurs="1"
				minOccurs="0" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="textInput">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="description" type="xs:string" maxOccurs="1"
				minOccurs="1" />
			<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1" />
			<xs:element name="link" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="skipHours">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="hour" minOccurs="1" maxOccurs="24">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="23" />
						<xs:minInclusive value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="skipDays">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="day" maxOccurs="7">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Monday" />
						<xs:enumeration value="Tuesday" />
						<xs:enumeration value="Wednesday" />
						<xs:enumeration value="Thursday" />
						<xs:enumeration value="Friday" />
						<xs:enumeration value="Saturday" />
						<xs:enumeration value="Sunday" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="item">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="title" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The title of the item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="link" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The URL of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The item synopsis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:string" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Email address of the author of the item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="category" maxOccurs="unbounded"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Includes the item in one or more categories.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comments" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						URL of a page for comments relating to the item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="enclosure" type="enclosure" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Describes a media object that is attached to the
						item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="guid" type="guid" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A string that uniquely identifies the item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pubDate" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indicates when the item was published.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="source" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The RSS channel that the item came from.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="category">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="domain" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="enclosure">
		<xs:attribute name="url" type="xs:string" use="required" />
		<xs:attribute name="length" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minExclusive value="0" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required" />
	</xs:complexType>


	<xs:complexType name="guid">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="isPermaLink" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="source">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="url" type="xs:string"
					use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="commonAttributes">
		<xs:anyAttribute namespace="##any" processContents="lax" />
	</xs:attributeGroup>
</xs:schema>
